

/* .container {
	border-radius: 25px;
	border: 1px solid black;
	cursor: pointer;
	height: 10rem;
	width: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container img {
	width: 2rem;
	height: 2rem;
}

.container span {
	margin-top: 1rem;
	font-weight: 1000;
} */

.cards{
  display: flex;
}
